-e ./transmonee_dashboard

orjson
dash_treeview_antd
backcall==0.2.0
boto3==1.17.42
botocore==1.20.42
Brotli==1.0.9
CacheControl==0.12.6
certifi==2020.12.5
chardet==4.0.0
click<=9.0.0
dash==1.19.0
dash-bootstrap-components==0.12.0
dash-core-components==1.15.0
dash-html-components==1.1.2
dash-renderer==1.9.0
dash-table==4.11.2
decorator==4.4.2
Flask==1.1.2
Flask-Caching==1.10.1
Flask-Compress==1.9.0
flask-cors==3.0.10
future==0.18.2
gunicorn==20.0.4
idna==2.10
ipykernel==5.5.3
ipython==7.31.1
ipython-genutils==0.2.0
iso3166==1.0.1
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
jmespath==0.10.0
jupyter-client==6.1.12
jupyter-core==4.7.1
mapbox==0.18.0
MarkupSafe==1.1.1
msgpack==1.0.2
numpy==1.20.2
pandas==1.3.0
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
plotly==4.14.3
polyline==1.4.0
prompt-toolkit==3.0.18
ptyprocess==0.7.0
Pygments==2.8.1
python-dateutil==2.8.1
pytz==2021.1
pyzmq==22.0.3
requests==2.25.1
retrying==1.3.3
s3transfer==0.3.6
six==1.15.0
tornado==6.1
traitlets==5.0.5
uritemplate==3.0.1
urllib3==1.26.5
wcwidth==0.2.5
Werkzeug==1.0.1
pandasdmx
pandasdmx[cache]
scipy
openpyxl

sentry-sdk[flask]
