._dash-loading-callback::before {
    z-index: 9999;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.5);
}
._dash-loading-callback::after {
    background: rgba(0,0,0,0.5);
    box-sizing: border-box;
    z-index: 9999;
    position: fixed;
    width: 15ch;
    height: 15ch;
    top: calc(50vh - 15ch / 2);
    left: calc(50vw - 15ch / 2);
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-top: 3px solid rgba(0,0,0,0);
    border-bottom: 3px solid rgba(0,0,0,0);
    border-radius: 50%;
    line-height: 15ch;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    content: "Loading...";
    animation: spin 4s ease, loadingtext 1s linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
@keyframes loadingtext {
    0%    {content: "Loading...";}
    16.7% {content: "Loading ..";}
    33.3% {content: "Loading  .";}
    50%   {content: "Loading   ";}
    66.7% {content: "Loading.  ";}
    83.3% {content: "Loading.. ";}
    100%  {content: "Loading...";}
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}