._dash-loading-callback::before {
    z-index: 9999;
    content: "";
    position: fixed;
    cursor: progress;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(255, 255, 255, 0.6);
}
._dash-loading-callback::after {
    content: "";
    line-height: 15ch;
    color: #1cabe2;
    top: calc(50vh - 15ch / 2);
    left: calc(50vw - 15ch / 2);
    z-index: 9999;
    position: fixed;
    width: 2rem;
    height: 2rem;
    cursor: progress;
    vertical-align: text-bottom;
    border: .25em solid;
    border-right: .25em solid transparent;
    border-radius: 50%;
    animation: spinner-border 3s ease;/* loadingtext 1s linear; */
    animation-iteration-count: infinite;
    animation-fill-mode: forwards; 
}
@keyframes loadingtext {
    0%    {content: "Loading...";}
    16.7% {content: "Loading ..";}
    33.3% {content: "Loading  .";}
    50%   {content: "Loading   ";}
    66.7% {content: "Loading.  ";}
    83.3% {content: "Loading.. ";}
    100%  {content: "Loading...";}
}
@keyframes spinner-border {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}