@-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  } 
  
  ._dash-loading-callback {
    display: flex;
    background: rgba(255, 255, 255, 0.3);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9998;
    align-items: center;
    justify-content: center; 
  }

  ._dash-loading-callback2::after {
    content: 'Loading';
    font-family: sans-serif;
    padding-top: 50px;
    color: #000;

    -webkit-animation: fadein 0.5s ease-in 1s forwards; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.5s ease-in 1s forwards; /* Firefox < 16 */
        -ms-animation: fadein 0.5s ease-in 1s forwards; /* Internet Explorer */
         -o-animation: fadein 0.5s ease-in 1s forwards; /* Opera < 12.1 */
            animation: fadein 0.5s ease-in 1s forwards;  
    /* prevent flickering on every callback */
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;

    /* The banner */
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    cursor: progress;
    z-index: 100000;

    background-image: url(spinner.svg);
    /* https://cdn.dribbble.com/users/563824/screenshots/4268258/untitled_180_3.gif*/
    background-position: center center;
    background-repeat: no-repeat;
  }