.js-plotly-plot .plotly .modebar.vertical {
    top: 60px;
}

/*Data explorer*/
.de_lastnobs input {
    margin-bottom: 0;
}

.div_de_filter {
    max-height: 250px;
    overflow-y: auto;
}

.div_de_filter ul {
    margin: 0;
}

.div_de_filter li {
    margin-bottom: 1px;
    margin-top: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
}

/*To force inline controls*/
.force-inline-control {
    display: inline-flex;
    align-items: normal;
    margin-bottom: 0;
}

.force-inline-control label {
    align-items: normal;
    margin-bottom: 0;
}

/*To force inline controls END*/

/*Fix switches*/
.form-switch .form-check-input {
    /*background-color: #fff;*/
    background-repeat: no-repeat;
}

.has-bootstrap [type=checkbox]:checked:after {
    background-color: unset;
}

/*Fix switches END*/

.indic_prof_link:hover {
    color: #007bff !important;
}

.accordion-no-padding .accordion-body {
    padding: 0;
}

/*Data explorer Data table*/

/*makes the height of the DashTable 225 pix less then the 100% screen */
.dash-spreadsheet.dash-freeze-top,
.dash-spreadsheet.dash-virtualized {
    max-height: inherit !important;
}

.dash-table-container {
    height: calc(100vh - 450px)
}

div.dt-table-container__row.dt-table-container__row-1 {
    height: calc(100vh - 450px)
}

/*Allows the pivot table to span the whole column size*/
.dash-spreadsheet.dash-freeze-left {
    max-width: none !important;
}

/*The filters tree (dash-treeview-antd)*/
.ant-tree li {
    padding: 0;
    margin-bottom: 0;

}

.has-bootstrap ul li {
    padding: 0;
    margin-bottom: 0;
}

/*Start drupal fixes*/
.has-bootstrap .dropdown {
    max-width: 300px;
}

.has-bootstrap .card {
    max-width: unset;
    min-height: unset;
}

.has-bootstrap .col-3 {
    max-width: unset;
    grid-template-columns: unset;
    grid-gap: unset;
}

.fade{transition:opacity .15s linear}@media (prefers-reduced-motion:reduce){.fade{transition:none}}.fade:not(.show){opacity:0}